
.job-listing{
    background-image: url('images/yoyo.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    height: 80vh;
}
.job-card{
    border: 1px solid white; 
    padding:2px 4px;
    /* background-color: white; */
    max-height: 30vh;
    min-height: 30vh;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.job-card:hover{
    border-color: #FFC107;
    max-height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.job-title{
    font-weight: 600;
    
}
.location{
    color: #a5a5a6;
}
.period{
    color: #6BBF59;   
}
.company{
    
}
.featured{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
}
.featured-categories{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
    width: 100%;
    text-align: center;
}
.featured-job{
    border: 1px solid white; 
    padding:2px 4px;
    background-color: white;
    max-height: 30vh;
    min-height: 30vh;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.featured-job:hover{
    border-color: #FFC107;
    max-height: 100%;
    border-radius: 5px; 
    cursor: pointer;
}
.icon{
    color: #FFC107;
}
.openings{
    font-weight: 600;
    background-color: rgba(128,128,128,0.2);
     width: fit-content; 
    border-radius: 10px;
    padding: 0 8px;
    margin: auto;
}