
.job-listing{
    background-color: rgba(red, green, blue, alpha);
    height: 80vh;
}
.job-card{
    border: 1px solid white; 
    padding:2px 4px;
    background-color: white;
    max-height: 30vh;
    min-height: 30vh;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.job-card:hover{
    border-color: #FFC107;
    max-height: 100%;
    border-radius: 5px;
}
.job-title{
    font-weight: 600;
    
}
.location{
    color: #a5a5a6;
}
.period{
    color: #a5a5a6;   
}
.company{
    
}
.featured{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
}
.featured-categories{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
}