.app-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  /* grid-template-rows: 60px 1fr; */
  grid-template-areas:
    /* "header header" */
    "sidebar main";
     max-width: 100vw;
    min-height: 100vh; 
       background-color: rgba(128,128,128, 0.1);
}

.sidebar {
      width: 250px;
      background-color: #002B5B;
      color: white;
      flex-shrink: 0;
      padding-top: 1rem;
      grid-area: sidebar;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      display: block;
      transition: background-color 0.2s;
    }
    .sidebar a:hover, .sidebar .active {
      background-color: #495057;
    }
    .sidebar .submenu a {
      padding-left: 40px;
      font-size: 0.95rem;
    }
    .content {
      flex-grow: 1;
      padding: 20px;
    }

    /* Caret rotation */
    .caret {
      transition: transform 0.3s ease;
      display: inline-block;
    }
    .caret.rotated {
      transform: rotate(180deg);
    }
    .main{
      grid-area: main;
    }

    .dashboard-title{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      letter-spacing: .5px;
    }

    /* summary section */
    .manage{
     background-color: #002B5B !important;
    }
    .manage:hover{
      background-color:#00509D !important;
      color: aliceblue !important;
    }
    .icons{
      color: #00A6ED;
    }

    /* Tables section*/
    .entries{
      background-color: #002B5B;
      font-weight: 700;
      font-family: ProximaNova, arial, sans-serif;
      color: white;
      vertical-align: middle;
    }
    .table {
    border-radius: 12px;
    overflow: hidden;
    font-size: 12px;
  }
  thead {
    background-color: #34495e;
    color: white;
    font-size: 16px !important;
  }
  tbody tr:nth-child(even) {
    background-color: #ecf0f1;
  }
  .fw-bold {
    background-color: #d5dbdb;
  }
  th {
    padding: 12px;
  }
  td{
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
  }

  tr td:first-child {
    font-weight: 600;
    font-size: 16px;

  }
  .fw-bold.text-end {
    background-color: #2c3e50;
    color: white;
  }
  td .email{
    color: #0072C6;
    
  }
  td .email:hover{
    text-decoration: underline;
    cursor: pointer;
  }
 td .phone{

    font-size: 14px;
  }
 td .phone:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  tr:hover {
    background-color: #f9f9f9 !important;
    cursor: pointer;
  }