@import "tailwindcss";



body {
  background-color: #f5f5f5 !important;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root {
  --header-height: 10vh;
}

.app-wrapper {
  display: grid;
  grid-template-rows: var(--header-height) 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  height: var(--header-height);
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: #002B5B;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Main */
.main {
  grid-area: main;
  min-height: calc(100vh - var(--header-height));
  margin-top: 0px;
}
.filter-section{
   white-space: wrap;
}

.flex-items{
  white-space: wrap !important;
}
.commonFilters {
  display: flex;
  flex-wrap: wrap; /* allow children to go to next line */
  gap: 0.75rem; /* you already have gap-3 in Tailwind */
}

@media (max-width: 768px) {
  .header {

    
    gap: 10px;
  }
  .nav-links {
    flex-wrap: wrap;
  }
  .filter-section{
   overflow: auto;
}
  .commonFilters{
      flex-wrap: nowrap; /* allow children to go to next line */

  overflow: auto;
}

}

/* Footer */
.footer {
  grid-area: footer;
  padding: 40px 20px 20px !important;
}

.footer-section ul li {
  margin-bottom: 10px;
}
.footer-section h2 {
  color: #FFC107;
  margin-bottom: 15px;
}
.footer-section p{
    margin-bottom: 10px;
}
.footer-grid{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}
.footer-bottom{
      text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    padding-top :15px;
    color: #ccc;
}
.jobDetailsModal{
  margin-top: 10vh !important;
}