@import "tailwindcss";
body {
  /* background-color: #f5f5f5 !important; */
  background: white;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw !important;
  overflow-x: hidden !important;
}